table,
th,
td {
  border: 1px solid black;
}
th,
td {
  padding: 0.5rem;
  margin: 0;
}
th {
  text-transform: capitalize;
}
tbody tr:hover {
  background-color: rgb(168, 168, 143);
  cursor: pointer;
}
table {
  background-color: white;
  color: black;
  margin: 0 2rem;
}

h1 {
  text-align: center;
  font-weight: 900;
}
